@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700);/*roboto slab, bold */


#game-wrapper .cardback
{
  top: 2.5%;
  position: 2.5%;
  height: 95%;
  border: 2.5% solid white;
  border-radius: 7%;
  background-repeat: repeat;
  background-position: 50% 50%; 
  background-image: url(../images/cards/icons/back.png);
  background-size: 25%;
  position: absolute;
}


:root
{
  --red: #f00;
  --black: #000;
  --bwidth: 3px;
}



html
{
  font-family: 'source sans pro';
}

/* todo media queries */
#game-wrapper
{
  width:60rem;
  border-radius: 1rem;
  left: calc(50% - 30rem);
  height: 30rem;
  top: calc(50% - 15rem);
  padding: 0;
  margin: 0;
  background-color: #eee;
  position: absolute;
}

#game-wrapper #header
{
  top:0;
  left:0;
  width:100%;
  margin:0;
  height: 5rem;
  padding:0;
  position: absolute;
}

#game-wrapper #logo
{
  top: 0;
  left: calc(5%);
  position: absolute;
  margin:0;
  padding:0;
  height: 5rem;
}

#game-wrapper #control-box
{
  position: absolute;
  right: 3rem;
  top: 2rem;
}

#game-wrapper #control-box *
{
  display: inline;
}


#game-wrapper #content
{
  position: absolute;
  width: 90%;
  height: calc(90% - 5rem);
  bottom: 10%;
  margin: 0;
  padding: 0;
  left: 5%;
  background-color: #ddd;
}


#game-wrapper #player-list
{
  width: 30%;
  height: calc(100%);
  position: absolute;
  right: 0;
  top: 0;
  background-color: #ccc;
}

#game-wrapper #buttons-wrapper
{
  left: 70%;
  width: 20%;
  border-top-right-radius: 1rem;
  height: 3rem;
  bottom: 0;
  position: absolute;
  background-color: #eee;
}

#game-wrapper #buttons-wrapper button
{
  position: absolute;
  right: 3rem;
  top: .75rem;
}

#game-wrapper #player-list .player-entry
{
  width: 100%;
  height: 2.5rem;
  left: 0;
  margin: 0;
  display: inline-block;
  background-color: #ccc;
}

#game-wrapper #player-list .player-entry:nth-of-type(even)
{
  background-color: #ddd;
}

#game-wrapper #player-list .player-entry *
{
  display: inline-block;
 /* font-size: 1rem; */
  line-height: 2.5rem;
  float: left;
  text-indent: .5rem;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

#game-wrapper #player-list .player-entry .username
{
  width: 45%;
  text-align: left;
}
#game-wrapper #player-list .player-entry .rank
{
  width: 40%;
  text-align: left;
}
#game-wrapper #player-list .player-entry .cards
{
  width: calc(15% - 2rem);
  padding-right: 2rem;
  text-align: right;
}

#game-wrapper #card-stack
{
  position: absolute;
  background-color: #00f;
  width: calc(60%);
  height: calc(30%);
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  border: 0;
}

#game-wrapper #upper-gui
{
  position: absolute;
  background: #00f;
  width: 100%;
  height: calc(100% - 180px);
  margin: 0;
  left: 0;
  padding: 0;
  border: 0;
  right: 0;
}


#game-wrapper #inventory-wrapper
{
  width: calc(70%);
  background-color: #eee;
  height: 10rem;
  position: absolute;
  bottom: 0;
  left: 0;

  border-top-right-radius: 1rem;
}
/* inventory */
#game-wrapper #inventory
{
  width: calc(100% - 2rem);
  left: 1rem;
  top: 1rem;
  bottom: 0;
  height: calc(100% - 2rem);
  /*top: calc(50% - 4rem);*/
  background-color: transparent;
  position: absolute;
 /* overflow: visible; */
}

/*#game-wrapper .action-button
{
  width: 150px;
  height: 40px;
  background-color: rgba(1,1,1,0.5);
  text-align: center;
  line-height: 40px;
  font-weight: normal;
  color: #fff;
}*/


#game-wrapper button
{
  padding: 0em .8em;
  height: 2em;
  min-width: 5em;
  border: 0;
  background-color: #0e0;
  border-radius: .25em;
  font-family: 'roboto slab';
  color: #222;
  line-height: 2em;
}

#game-wrapper button:hover
{
  background-color: rgba(0,0,0, 0.25);
  color: #000;
}

/*
#game-wrapper #lower-gui > #corner
{ 
  left: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../images/triangle.png);
  width: 180px;
  background-repeat: no-repeat;
  opacity: .5;

}
*/



@import url(cardDesign.css);